@model SBDProjekt.Models.Product

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Product Details</h1>

<div>
    <link href="~/css/product.css" rel="stylesheet" />
    <div class="home-container">
        <img alt="image"
             src="https://icon-library.com/images/icon-product/icon-product-13.jpg"
             class="home-image" />
        <span class="home-text6">
            @Html.DisplayFor(model => model.Name)
        </span>
        <span class="home-text2">Price:</span>
        <span class="home-text">
            @Html.DisplayFor(model => model.Price)
        </span>
        <span class="home-text1">Category:</span>
        <span class="home-text4">
            Categoryname
        </span>
        <span class="home-text5">Producer:</span>
        <span class="home-text3">ProducentWartosc</span>
        <button class="home-button button">Like</button>

        <div class="home-container1">
            <div class="home-container2"></div>
            <div class="home-container3"></div>
        </div>
    </div>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
