@model IEnumerable<SBDProjekt.Models.FavouriteProduct>
@using System.Security.Claims;

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Your favourite products!</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-controller="Products"
                       asp-action="Details"
                       asp-route-id="@item.ProductId">
                        @Html.DisplayFor(modelItem => item.Product.Name)
                    </a>

                </td>
                <td>
                    <form asp-action="Delete"
                          asp-route-productId="@item.ProductId">
                        <button type="submit"> Delete </button>

                    </form>

                </td>
            </tr>
        }   
    </tbody>
</table>
